# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# emacs leftovers
*~

# configure generated and changed files
Makefile.in
Makefile
*.in
.deps

